{%load static%}

    <!-- Biginning header -->
{% include 'includes/header.html'%}

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
    
{% include 'includes/sidebar.html'  %}


      <!-- partial -->
     
{% block content  %}
<div class="card col-lg-4 d-flex  align-items-center ">
       
    <div class="card-body" >
        <center>
        <h3 class="align-center">Add Account Type</h3>
       </center>
  <form action="" method="POST" > 

{% csrf_token %}
  

      <div class="input-group mb-3">

        <input class="form-control" type="text" value="{{coa_id.ac_name}}"  name="ac_name" required>
    
        <input  class="form-control" type="number" placeholder="Enter General Ledger No" name="gl_no" required data-maxlength="6" oninput="this.value=this.value.slice(0,this.dataset.maxlength)">
      </div>


      <div class="input-group mb-3 col-xs-2">
        <select class="form-control" name="currcy" id="select3" required>
          <option value="NGR" style="font-weight: bold; border-bottom: 1px solid gray;">NGR</option>
          <option value="USD" style="font-weight: bold; border-bottom: 1px solid gray;">USD</option>
          <option value="EUR" style="font-weight: bold; border-bottom: 1px solid gray;">EUR</option>       
        </select>
        
      </div>

   
        <input type="button" value="Go Back!" class="btn btn-danger btn-lg" onclick="history.back()">
        <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Add Account">
    </div>

  </div>

    </form>
    
  







    















    

    {% endblock %}


</body>


{% include 'includes/footer.html'  %}




</html>

