{%load static%}


<link rel="stylesheet" href="{% static 'css/styles.css'%}">

 

    <!-- Biginning header -->
{% include 'includes/header.html'%}


      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
    
{% include 'includes/sidebar.html'  %}


  
    
{% block content  %}


   

<div class="container">

  <div class="card" style="width: 60rem;">


        <div class="row">
            <div class="col-3">

            </div>
   
  
            <div class="col-6">
            {% for message in messages %}
            <h5 class="alert alert-warning mt-3">{{message}}</h5>
            {% endfor %}
            </div>
            <div class="col-3">

            </div>

        </div>
   
 
  

    <div class="row">
            
      
            <div class="col-12">
              <center>
                <h4 style="color: pulple;" class="card bg-primary text-white"><b>Customer's Information</b>&nbsp;</h4>
              </center>
              &nbsp;
              &nbsp;
         
            </div>

            <div class="col-4">
       
            </div>
    </div>

    


    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

        

      <div class="row" style="color: purple;">
      

        <div class="col-8">
         
        </div>

        <div class="col-2">
          <div class="profile-pic-div">
            <img src="{% static 'images/lab.jpg' %}" id="image">
            <input type="file" id="photo" name="photo">
         
            <label for="photo" id="uploadBtn">Choose Photo</label>
          </div>
        </div>

        <div class="col-2">
          <div class="profile-pic-div2">
            <img src="{% static 'images/signature.jpg' %}" id="sign_image">
            <input type="file" id="sign" name="sign">
           
            <label for="sign" id="uploadBtn2">Choose Sign</label>
          </div>
        </div>
      </div>
    

      <div class="row" style="color: green;">
        <div class="col-1"style="color: green;" ></div>
        <div class="col-4"style="color: green;" >
          <label>Branch:</label>
        <b>{{ form.br_code }}</b>
       </div>
       <div class="col-3" >
         <label>Type of Account</label>
        <b>{{ form.acc_cat}}</b>
       </div>
       <div class="col-3" >
        <label>Date of Birth:</label>
        <div class="fas fa-calendar">
        {{ form.dobirth }}
      </div>
       </div>
     </div>

     <div class="row" style="color: green;">
      <div class="col-1"style="color: green;" ></div>
      <div class="col-8">
        <label>Full Name:</label>
    
      <b> {{ form.name }}</b>
       
      </div>
      
      <div class="col-2" >
        <label>Gender:</label>
        <b>{{ form.cust_sex }}</b>
      </div>

     
  </div>
   
     <div class="row" style="color: green;">
      <div class="col-1"style="color: green;" ></div>
      <div class="col-5" >
        <label>Resident Address:</label>
        <b>{{ form.res_address }}</b>
       </div>

       <div class="col-5" >
        <label>Office Address:</label>
        <b>{{ form.off_address }}</b>
       </div>
     
     </div>

     <div class="row" style="color: green;">
      <div class="col-1"style="color: green;" ></div>
     
       <div class="col-4" >
        <label>Phone No:</label>
       <b> {{ form.phone_no }}</b>
       </div>
       <div class="col-3" >
        <label>Marrital Status:</label>
        <b>{{ form.mar_status  }}</b>
       </div>

       <div class="col-3" >
        <label>Mode of Indentification:</label>
        <b> {{ form.mode_of_id }}</b>
       </div>
     </div>

     <div class="row" style="color: green;">
      <div class="col-1"style="color: green;" ></div>
      
       <div class="col-4" >
        <Label>Identification No:</Label>
        <b>{{ form.id_no}}</b>
       </div>
       <div class="col-3" >
        <Label>Ref No:</Label>
        <b>{{ form.ref_no }}</b>
       </div>

       <div class="col-3" >
        <Label>Place of Birth:</Label>
        <b>{{ form.place_of_birth }}</b>
       </div>
     </div>

     <div class="row" style="color: green;">
      <div class="col-1"style="color: green;" ></div>
       
       <div class="col-4" >
        <Label>Mother Meiden Name:</Label>
        <b>{{ form.mother_mai_name }}</b>
       </div>
       <div class="col-3">
        <Label>Religion:</Label>
        <b>{{ form.religion }}</b>
       </div>
       <div class="col-3">
        <Label>Tin No:</Label>
        <b>{{ form.tin_no }}</b>
       </div>
     </div>

     <div class="row" style="color: green;">
      <div class="col-1"style="color: green;" ></div>
      
       <div class="col-4">
        <Label>State of Origin:</Label>
        <b>{{ form.state_of_oringin }}</b>
       </div>
       <div class="col-3">
        <Label>Local Government of Origin:</Label>
        <b>{{ form.local_govt_origin }}</b>
      </div>
      <div class="col-3">
        <Label>Nationality:</Label>
        <b>{{ form.nationality  }}</b>
       </div>
     </div>

    <div class="row">
       
       
    </div>

    <div class="row" style="color: green;">
      <div class="col-1"style="color: green;" ></div>
        <div class="col-4">
          <Label>City:</Label>
        <b>{{ form.city  }}</b>
       </div>
       <div class="col-3">
        <Label>Local Government Area:</Label>
        <b>{{ form.local_govt_res }}</b>
       </div>
       <div class="col-3">
        <Label>State of Origin:</Label>
        <b>{{ form.state_of_res }}</b>
      </div>
    </div>

    <div class="row" style="color: green;">
      <div class="col-1"style="color: green;" ></div>
        <div class="col-4">
          <Label>Nearest Bus-Stop:</Label>
        {{ form.landmark }}
       </div>
       <div class="col-3">
        <Label>Email Address:</Label>
        <b>{{ form.email_add }}</b>
       </div>
       <div class="col-3">
        <Label>Occupation:</Label>
        <b>{{ form.ocuppation }}</b>
      </div>
    </div>
     
      &nbsp;  &nbsp;

    <div class="row">
      

      <div class="col-8">
        
      </div>
        <div class="col-3" >
          &nbsp;
            <button type="submit" class="btn btn-primary">Submit Application</button>
            &nbsp;
           
       
        </div>
    

    
  </div>
  &nbsp;
  &nbsp;
    </form>
  </div>

    &nbsp;
    &nbsp;
  
 


</div>










    {% endblock %}

    <script src="{% static 'js/script.js'%}" type="text/javascript"></script> 
</body>


{% include 'includes/footer.html'  %}





</html>

