{%  load static %}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
    
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="typcn typcn-document-text menu-icon"></i>
          <span class="menu-title">Files</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'new_account' %}">New Account</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'list_edit_account' %}">Edit Account</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Delete Account</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Transfer Account</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Blacklist</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Account Settings</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Photo & Signature File</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Change Account Setting</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">SMS Services Setting</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">Cheque Registration</a></li>
           
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="typcn typcn-film menu-icon"></i>
          <span class="menu-title">Transactions</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Deposit</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Withdrawal</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Income Entry</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Expense Entry</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">General Journal</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Loans</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Fixed Deposit</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Error Correction</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Bank Placement</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Delete Error Corrected Transactions</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Fixed Assets</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Inter-Branch Transactions</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Transactions Authorisation</a></li>
            <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Cheque Transactions</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
          <i class="typcn typcn-chart-pie-outline menu-icon"></i>
          <span class="menu-title">End of Period</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="charts">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Savings</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Loans</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">Accounts</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">General</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
          <i class="typcn typcn-th-small-outline menu-icon"></i>
          <span class="menu-title">Stock</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Stock</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
          <i class="typcn typcn-compass menu-icon"></i>
          <span class="menu-title">Reports</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Front Office Reports</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Back Office Reports</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="typcn typcn-user-add-outline menu-icon"></i>
          <span class="menu-title">Administration</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Session</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Utility </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> General Configuration</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> User Administration </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'acct_settings' %}"> Account Settings </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Product Settings</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> User Defined Codes</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Defin Mandatory Fields</a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Register New User  </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Software Registration </a></li>
          </ul>
        </div>
      </li>




     
     

    </ul>
  </nav>